<div class="container" *ngIf="result">
  <div class="row">
    <div class="col-sm">
        <div class="jumbotron text-center my-2">
            <h1>{{ result.title }}</h1>
            <img class="img-fluid" src="{{ result.thumbnailUrl }}" *ngIf="!isRedirected()">
            <div class="embed-responsive embed-responsive-16by9" *ngIf="isRedirected()" >
                <iframe class="embed-responsive-item" [src]=getUrl() allowfullscreen></iframe>
              </div>
            <p class="h8 text-justify">{{ result.description }}</p>
            <button *ngIf="!isRedirected()" class="btn btn btn-primary" [routerLink]='[result.id]'>Link</button>
        </div>
    </div>
  </div>
</div>