<div class="container">
  <div class="row text-center">
    <div class="col-sm-6 offset-sm-3">
      <form #loginForm="ngForm" (ngSubmit)="login()" *ngIf="!authService.getUser()">
        <h1>Effettua il login per poter entrare nella zona Admin !</h1>
        <div class="form-group">
          <label for="username">Username : (type <em>user</em>)</label>
          <input class="form-control" type="text" name="username" required [(ngModel)]="creds.username">
          <label for="password">Password: (type <em>password</em>)</label>
          <input class="form-control" type="password" name="password" required minlength="4" [(ngModel)]="creds.password">
          <button [disabled]="!isValid()" type="submit" class="btn btn-primary mx-2 my-2">Login</button>
        </div>
      </form>

      <div class="well" *ngIf="authService.getUser()">
        <h1>Logout</h1>
        Logged in as <b>{{ authService.getUser() }}</b>
        <button class="btn btn-primary mx-2" (click)="logout()">Log out</button>
      </div>

      <div class="alert alert-danger my-2" role="alert" *ngIf="message">
          {{ message }}
      </div>
    </div>
  </div>
</div>