<nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top">
  <a class="navbar-brand" href="/home">YoutubeService</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/search']" class="nav-link" routerLinkActive="active">Search</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a [routerLink]="['/login']" class="nav-link" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a [routerLink]="['/login']" class="nav-link" routerLinkActive="active">Logout</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin']" class="nav-link" routerLinkActive="active">Admin</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>