<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div>
        <h1 class="text-center">Benvenuto nella sezione protetta !</h1>
        <h3 class="text-center px-2">Per effettuare qualsiasi richiesta devi prima autenticarti !</h3>
      </div>
    </div>
  </div>
  <div class="row text-center my-2" *ngIf="!getToken()">
    <div class="col-sm-8 offset-sm-2  my-4">
      <span class="alert alert-danger mx-2">Autenticazione non effettuata!</span>
    </div>
    <div class="col-sm-8 offset-sm-2">
      <button class="btn btn btn-outline-success" (click)="auth()">Autenticazione</button>
    </div>
  </div>
  <div class="row text-center my-2" *ngIf="getToken()">
    <div class="col-sm-8 offset-sm-2">
      <span class="alert alert-success">Autenticazione effettuata!</span>
    </div>
    <div class="col-sm-8 offset-sm-2 my-4">
      <button class="btn btn btn-outline-danger" (click)="revokeAuth()">Revoca Autenticazione</button>
    </div>
  </div>
  <div class="row" *ngIf="getToken()">
    <div class="col-sm-8 offset-sm-2">
      <h3 class="text-center">Seleziona una delle opzioni e poi clicca su Scelta !</h3>
    </div>
  </div>
  <div class="row text-center" *ngIf="getToken()">
    <div class="col-sm-4 offset-sm-4">
      <div class="form-group">
        <select class="custom-select" #selezione>
            <option value="channelInfo">Informazioni canale</option>
            <option value="report/12/2017">Analitiche Dicembre 2017</option>
        </select>
        <button class="btn btn btn-outline-primary my-2" (click)="request(selezione.value)">Scelta</button>
      </div>
    </div>
  </div>
  <div class="row text-center" *ngIf="getView() == 'channelInfo' && getToken()">
    <div class="col-sm-2">
      <img src="{{ channelInfo.thumbnailUrl }}" class="img-thumbnail">
    </div>
    <div class="col-sm-8">
      <h5>{{ channelInfo.name }}</h5>
      <p>{{ channelInfo.description }}</p>
    </div>
    <div class="col-sm-2">
        <ul>
            <li>Video totali : {{ channelInfo.videoNum }}</li>
            <li>Visualizzazioni totali : {{ channelInfo.viewsCount }}</li>
            <li>Iscritti totali : {{ channelInfo.subsCount }}</li>
          </ul>
    </div>
  </div>
  <div class="row text-center" *ngIf="getView() == 'report/12/2017' && getToken()">
    <div class="col-sm-8 offset-sm-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Giorno</th>
            <th scope="col">Numero Visite</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let info of analytics">
            <td>{{ info[0] }}</td>
            <td>{{ info[1] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>