<div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <h1 class="text-center">Benvenuto nella sezione Search</h1>
        <p class="text-center">Inserisci la tua ricerca nella box e premi il pulstante <b>Ricerca</b></p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-6 offset-sm-3">
        <div class="form-group">
          <input class="form-control text-center" type="text" placeholder="Ricerca" class="form-control" #query>
          <button (click)="search(query.value,0)" class="btn btn-outline-danger my-3" *ngIf="isPrec()">-12</button>
          <button (click)="search(query.value,1)" class="btn btn-outline-primary my-3 mx-2">Ricerca</button>
          <button (click)="search(query.value,2)" class="btn btn-outline-success my-3" *ngIf="isSucc()">+12</button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 my-2 justify-content-sm-center" *ngFor="let result of results">
        <app-video [result]="result"></app-video>
      </div>
    </div>
  </div>