<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-sm-8">
      <h1>Benvenuto in YoutubeService</h1>
    </div>
    <div class="col-sm-8">
      <p>Questo applicativo è un mini client di youtube</p>
      <p>Nella sezione <b>Search</b> potrai cercare video e visualizzarli</p>
      <p>Nella sezione <b>Admin</b> , previo login , potrai gestire il tuo canale</p>
      <p> {{ getLang() }}</p>
    </div>
  </div>
</div>
